.App {
  text-align: center;
}

.pokemon{
  padding: 1px;
  margin: 8px;
  border: 1.5px solid lightcoral;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 5px black;
}

.pokemon:hover{
  box-shadow: 8px 3px 10px crimson;
}

body{
  /* background-color: black; */
  background-image: url("http://www.serebii.net/Walkthrough/rby/safari2.gif");
 
}

.header{
  /* margin-bottom: 10px; */
  font-size: 25px;
  color: black;
  text-shadow: 3px 2px 3px crimson;

}

button{
  padding: 10px;
  background-color: black;
  color: coral;
  font-size: 18px;
  box-shadow: 2px 2px 2px crimson;

}

button:hover{
  box-shadow: 4px 4px 4px crimson;
  text-shadow: 2px 2px 2px crimson;
 
}